{% extends "base.html" %}
{% block nav_vendor %}{% endblock %}
{% block nav_customer %}{% endblock %}
{% block contact %}active{% endblock %}
{% block main %}
<!--Main container-->
<div class="container">
    <!--Grid row-->
    <div class="mt-5 row">
        <!--Grid column-->
        <div class="col-md-12">
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="mt-5 row" style="align-items: flex-start">
        <!--Grid column-->
        <div class="col-md-12">
            <h2>FAQ</h2>
            <hr>
            <p>Navigate through our FAQ to get to know more about our product or use the search bar for specific
                product related queries.</p>
        </div>

        <div class="mt-5 col-md-3 btn-group-vertical">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#1">Basics</a>
                </li>
                <li class="list-group-item"><a href="#2">Event</a></li>
                <li class="list-group-item"><a href="#3">Account</a></li>
            </ul>
        </div>

        <div class="mt-5 col-md-9">
            <h4 id="#1">Vendor</h4>
            <hr>
            <div class="card">
                <div class="card-header text-primary">
                    How can I describe my service?
                </div>
                <div class="card-body">
                    In your profile, you may add services. This will produce a form where you can enter the type, price as well as other details of the service you are providing. This will reflect in the market as viewed by the customer.
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    How do I maange customer requests?
                </div>
                <div class="card-body">
                   Once you recieve requests from your customers, it will reflect on your profile. It is upto you to accept or reject client's requests for your service depending on viability.
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    What if I want to stop providing certain services?
                </div>
                <div class="card-body">
                    You may revoke any services you have provided on your account. But do note that customers who you have already confirmed to will still require completion of services provided by you even after cancellation.
                </div>
            </div>
            
            <h4 id="#2" class="mt-5">Customer</h4>
            <hr>
            <div class="card">
                <div class="card-header text-primary">
                    How can I start planning for an event?
                </div>
                <div class="card-body">
                    You may choose which type of event you are conducting and we will provide services accordingly. After selection of an event, you can go to the market where you may choose an array of services provided by vendors based on your convenience. However, you may not exceed your budget specified.
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    How can I see the status of the services I have asked for?
                </div>
                <div class="card-body">
                   On your account, each service shows a status of whether the request was sent to the vendor, whether he has confirmed it or rejected your request. You may also delete and add services such that it fits your budget.
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    What if i choose not to take a service?
                </div>
                <div class="card-body">
                    You may delete a service before confirmation from vendor or 10 days before occurance of the event beyond which expenses for the services will not be refunded.
                </div>
            </div>

            
            <h4 id="#3" class="mt-5">Account</h4>
            <hr>
            <div class="card">
                <div class="card-header text-primary">
                    How do I specify my account role?
                </div>
                <div class="card-body">
                    On signing up, you can select the toggle button to specify whether you are a customer or a vendor. Vendors require to fill an additional field - Location. This is to provide both cutomers and vendors ease of access to service based on geographic location.
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    How will I recieve updates on my account?
                </div>
                <div class="card-body">
                   We will send you notifications via email for important updates made to your profile. In order to make sure you do not miss these updates, please mark our email as not spam.
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    How can I delete my account?
                </div>
                <div class="card-body">
                    Send us an email with your details so that we can verify. Please allow us two weeks to delete your account.
                </div>
            </div>


        </div>

        <div class="col-md-12 mb-5 mt-5">
            <h2>More Help?</h2>
            <hr>
            <p>If you could not find your answer with the above. Please let us know by sending us an email <a href="/contact">here</a>. We would love to help you out!</p>
        </div>

    </div>
    <!--Grid row-->

</div>
{% endblock %}
