{% extends "base.html" %}
{% block nav_vendor %}{% endblock %}
{% block nav_customer %}{% endblock %}
{% block contact %}active{% endblock %}
{% block main %}
<!--Main container-->
<div class="container">
    <!--Grid row-->
    <div class="mt-5 row">
        <!--Grid column-->
        <div class="col-md-12">
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="mt-5 row" style="align-items: flex-start">
        <!--Grid column-->
        <div class="col-md-12">
            <h2>FAQ</h2>
            <hr>
            <p>Navigate through our FAQ to get to know more about our product or use the search bar for specific
                product related queries.</p>
        </div>

        <div class="mt-5 col-md-3 btn-group-vertical">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#1">Basics</a>
                </li>
                <li class="list-group-item"><a href="#2">Event</a></li>
                <li class="list-group-item"><a href="#3">Account</a></li>
            </ul>
        </div>

        <div class="mt-5 col-md-9">
            <h4 id="#1">Basics</h4>
            <hr>
            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>
            
            <h4 id="#2" class="mt-5">Event</h4>
            <hr>
            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            
            <h4 id="#3" class="mt-5">Account</h4>
            <hr>
            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>

            <div class="card">
                <div class="card-header text-primary">
                    Question?
                </div>
                <div class="card-body">
                    answer
                </div>
            </div>


        </div>
    </div>
    <!--Grid row-->

</div>
{% endblock %}
