{% extends "base.html" %}
{% block nav_vendor %}{% endblock %}
{% block nav_customer %}{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
<div class="container mb-4">
    <!--Grid row-->
    <div class="mt-5 row">
        <!--Grid column-->
        <div class="col-md-12">
          <h2>Welcome!</h2>
          <hr>
            <p>Organize and manage your events using our application or register with us if you want to be vendors to events</p>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

        <!--Grid row-->
    <div class="flex-center row mt-5">
        <!-- Default form login -->
        <form class="text-center border border-light p-5 needs-validation" action ="/signin" method = "POST" id = "SignIn" novalidate>

            <p class="h4 mb-4">Sign in</p>

            <div class="row">

                        <!--Grid column-->
                        <div class="col-md-auto w-100">
                            <div class="md-form mb-0">
                                <input type="email" id="defaultLoginFormEmail" name="loginEmail" class="form-control" onblur = "obj.checkEmail()" required>
                                <label for="loginEmail" class="">Email</label>
                                <div class="invalid-feedback" id = "invalidEmail">
                                       Could not find this email ID. Please register.
                                </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        </div>
                        <div class="row">

                        <!--Grid column-->
                        <div class="col-md-auto w-100">
                            <div class="md-form mb-0">
                                <input type="password" id="defaultLoginFormPassword" name="loginPwd" class="form-control" onblur = "obj.checkPassword()" required>
                                <label for="loginPwd" class="">Password</label>
                                <div class="invalid-feedback" id = "invalidPwd">
                                        Please enter the password. 
                                 </div>
                            </div>
                        </div>
                        <!--Grid column-->
                        </div>


            <div class="d-flex justify-content-around mt-3">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div class="ml-5">
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4" type="submit" >Sign in</button>

            <!-- Register -->
            <p>Not a member?
                <!-- Replace url_for with link later -->
                <a href="{{ url_for('register')}}">Register</a>
            </p>

            <!-- Social login -->
            <p>or sign in with:</p>

            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-facebook"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-twitter"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-linkedin"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-github"></i>
            </a>

        </form>
        <!-- Default form login -->
    </div>
    <!--Grid row-->

</div>

{% endblock %}
<!--Main layout-->
{% block script %}
  <script>
        obj = {
          stopSubmission: function() {
              'use strict';
              window.addEventListener(
                'load',
                function() {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(
                    forms, 
                    function(form) {
                      form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                          }
                          form.classList.add('was-validated');
                      }, 
                    false);
                });
                }, 
                false);
          },

          checkEmail: function() {
            emailElement = $('#defaultLoginFormEmail');
            val = emailElement.val();
            data = {"email" : val};
            console.log(data)
            $.post("checkemail",data,function(result){
                emailElement = $('#defaultLoginFormEmail')[0]
                console.log("result is " + result);
                myForm = $("#SignIn");
                if(result == "False") {
                    emailElement.setCustomValidity('')
                  //   $('#invalidEmail').html("This email is already taken. If this is yours, please sign in.")
                } else if(emailElement.value == '') {
                    emailElement.setCustomValidity('Please provide an email id');
                    $('#invalidEmail').html("Please provide an email id.");
                  //   myForm.find(':submit').click();
                } else {
                    emailElement.setCustomValidity('Could not find this email ID. Please register.');
                    $('#invalidEmail').html("Could not find this email ID. Please register.");
                  //   myForm.find(':submit').click();
                }               
            })
          },

          checkPassword: function()
          {
              pwd = $("#defaultLoginFormPassword");
              emailElement = $('#defaultLoginFormEmail');
              data = {"email": emailElement.val(),"pwd": pwd.val()}
              if(pwd.val() == '')
              {
                    pwd[0].setCustomValidity('Please enter your Password');
                    $('#invalidPwd').html("Please enter your Password");
                    $("#SignIn").find(':submit').click();
                    console.log("Empty");
                    return 
              }
              $.post("dosignin",data,function(result){
                console.log(result)
                pwd = $("#defaultLoginFormPassword");
                if(result == "False") {
                    pwd[0].setCustomValidity('Invalid Password');
                    $('#invalidPwd').html("Invalid Password");

                    // $("#SignIn").find(':submit').click();
                    console.log("In here");
                    // $("#SignIn").find(':submit').click();
                } else if(result == "inactive") {
                    alert('Account has not been activated yet. Please use the activation URL sent to you mailbox');
                } else if(pwd.val() == '') {
                    pwd[0].setCustomValidity('Please enter your Password');
                    $('#invalidPwd').html("Please enter your Password");
                    // $("#SignIn").find(':submit').click();
                } else {
                    pwd[0].setCustomValidity('');
                }
              })
          }
        };
        
        obj.stopSubmission();
    </script>
{% endblock%}
