{% extends "base.html" %}
{% block home %}active{% endblock %}
{% block main %}
<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="mt-5 col-md-12">
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    {% for event, details in events.items() %}
    <div class="row">
      <div class="mt-5 col-md-10 list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{ event }}</h5>
            <medium class="text-muted">Event Date: {{ details["date"] }}</medium>
          </div>
          <small class="text-muted">{{ details["description"] }}</small><br>
          <button type="button" class="mt-3 btn btn-info" data-toggle="collapse" data-target="#event{{details['eventid']}}" aria-expanded="false" aria-controls="collapseExample">Check Details</button>
          <button type="button" class="mt-3 btn btn-warning event{{details['eventid']}}" onclick="obj.cancel_event(event)" eventid="event{{details['eventid']}}">Cancel Event</button>
          <!-- Collapsible element -->
          <div class="collapse" id="event{{ details['eventid'] }}">
            <div class="mt-3">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vendor, vendor_details in details["vendors"].items() %}
                  <tr>
                    <th scope="row">{{ vendor_details["service"] }}</th>
                    <td>{{ vendor }}</td>
                    <td><h5><span class="badge badge-pill {{ vendor_details['color'] }}">{{ vendor_details["status"] }}</span></h5></td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                    <th scope="row">Caterer</th>
                    <td>HKG Caterers</td>
                    <td><h5><span class="badge badge-pill orange">Waiting</span></h5></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
          <!-- / Collapsible element -->
        </a>
      </div>

    </div>
    {% endfor %}
    <!--Grid row-->
</div>

<script>
  obj = {
    cancel_event: function(e) {
      eid = e.target.getAttribute("eventid").slice(5);
      data = {eventid: eid}
      $.post("cancelevent", data, function(results) {
        
      });
    }
  }
</script>
{% endblock %}