{% extends "base.html" %}
{% block nav_base %}{% endblock %}
{% block nav_customer %}{% endblock %}
{% block home %}active{% endblock %}
{% block main %}
<main>
<!--Main container-->
<div class="container">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="mt-5 col-md-12">
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

    <div class="mt-5 row">
      <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header text-center">
                      <h4 class="modal-title w-100">Add Service</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body mx-2">
                      <div class="md-form mb-3">
                          <input type="text" id="serviceTitle" class="form-control" required onblur="obj.checkTitleNotEmpty()">
                          <label for="serviceTitle">Title</label>
                          <div class="invalid-feedback d-block" id="invalidTitle"></div>
                      </div>
                      <div class="md-form mb-3">
                          <input type="number" id="servicePrice" class="form-control" required onblur="obj.checkPriceNotEmpty()">
                          <label for="servicePrice">Price</label>
                          <div class="invalid-feedback d-block" id="invalidPrice"></div>
                      </div>
                      <div class="md-form mb-3">
                          <textarea type="text" id="serviceDescription" class="md-textarea form-control" rows="1" required onblur="obj.checkDescriptionNotEmpty()"></textarea>
                          <label for="serviceDescription">Description</label>
                          <div class="invalid-feedback d-block" id="invalidDescription"></div>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="serviceTypeCatering" value="catering" checked>
                        <label class="form-check-label" for="serviceTypeCatering">
                            Catering
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="serviceTypeDecoration" value="decoration">
                        <label class="form-check-label" for="serviceTypeDecoration">
                            Decoration
                        </label>
                    </div>
                  </div>
                  <div class="modal-footer d-flex justify-content-center">
                      <button class="btn btn-primary" id="saveChanges" onclick="obj.checkSubmission()">Save Changes</button>
                  </div>
              </div>
          </div>
      </div>

      <div class="text-center">
          <a href="" class="btn btn-primary mb-4" data-toggle="modal" data-target="#modalContactForm">Add service</a>
      </div>
    </div>

    <!--Grid row-->
    <div class="row">
      <div class="mt-5 col-md-8">
        <table class="table table-responsive-md btn-table">
          <thead>
            <tr>
              <th>Service type</th>
              <th>Title</th>
              <th>Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
            {% for service, details in services.items()%}
                <td>{{ service }}</td>
                <td>{{ details["description"] }}</td>
                <td>{{ details["price"] }}</td>
                <td><button type="button" class="btn btn-outline-primary btn-sm m-0 waves-effect">Remove</button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  
      </div> 
    </div>
    <!--Grid row-->
</div>
<!--Main container-->

<script type="text/javascript">
  obj = {
    checkTitleNotEmpty: function() {
      element = $('#serviceTitle');
      val = element.val();
      if(val == '') {
        element[0].setCustomValidity('Please enter a title');
        $('#invalidTitle').html('Please enter a title');
      } else {
        element[0].setCustomValidity('');
        $('#invalidTitle').html('');
      }            
    },

    checkDescriptionNotEmpty: function() {
      element = $('#serviceDescription');
      val = element.val();
      if(val == '') {
        element[0].setCustomValidity('Please enter a description');
        $('#invalidDescription').html('Please enter a description');
      } else {
        element[0].setCustomValidity('');
        $('#invalidDescription').html('');
      }              
    },

    checkPriceNotEmpty: function() {
      element = $('#servicePrice');
      val = element.val();
      if(val == '') {
        console.log('LOG');
        element[0].setCustomValidity('Please enter a price');
        $('#invalidPrice').html('Please enter a price');
      } else {
        element[0].setCustomValidity('');
        $('#invalidPrice').html('');
      }              
    },

    checkSubmission: function() {
      title = $('#serviceTitle').val();
      description = $('#serviceDescription').val();
      price = $('#servicePrice').val();
      // TODO(JyothsnaKS): Update this to get service type info from the form
      service_type = "Catering";

      if(title!='' && description!='' && price!=''){
        data = {
          "title": title,
          "description": description,
          "price": price,
          "service_type": service_type
        }
        console.log(data);
        $.post("services", data, function(results){
        });
      }
    }    
  }
</script>
{% endblock %}
