{% extends "base.html" %}
{% block nav %}{% endblock %}
{% block main %}
<div class="container">
    <!--Grid row-->
    <div class="mt-5 row">
        <!--Grid column-->
        <div class="col-md-12">
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="mt-5 row">
        <!--Grid column-->
        <div class="col-md-12">
          <h2>Please activate your account using the link sent to you email.</h2>
          <hr>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->

        <!--Grid row-->
    <!--Grid row-->  
</div>
{% endblock %}